* {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

header {
  position: absolute;
  top: 50px;
  left: 50px;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-1 form {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.col-1 form label {
  padding: 10px;
  text-align: left;
  font-size: 18px;
  background: transparent;
  position: absolute;
  top: 100px;
}

.col-1 form button {
  background: turquoise;
  border: 1px solid turquoise;
  height: 50px;
  border-radius: 4px;
  font-size: 20px;
  box-sizing: border-box;
}

.col-1 input {
  outline: none;
  border: 1px solid rgb(220, 246, 255);
  background: rgb(220, 246, 255);
  color: black;
  border-radius: 4px;
  height: 50px;
  font-size: 30px;
  box-sizing: border-box;
}

@media (min-width:320px) { 
  
}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { 
  .col {
    width: 33.33%;
    text-align: center;
    height: 100vh;
  }  
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }